.webnots-notice {
    background-color: #3498db;
}

.webnots-notification-box {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-family: verdana, 'open sans', sans-serif;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 44px;
    margin-left: 16px;
    position: relative;
    box-shadow: 0 1px 5px #999;
}

.button_visualizar {
    flex: -1;
    left: 1;
    bottom: 270px;
}

.filter-style {
    min-height: 350px;
    height: auto;
    width: auto;
}

.addFilter {
    height: 15px;
    width: 15px;
}

.circleStyle {
    border-radius: "8px";
    display: "flex";
    justify-content: "center";
    background-color:  #DCDCDC;
    margin-left: 15px;
    margin-top: 2px;
}


.filter {
    margin-left: 30px;
    height: 12px;
}

.title {
    color: black;
    margin-left: 0px;
}

.cardStyle {
    height: auto;
    width: auto;
}

.deleteFilterButton {
    height: 15px;
    width: 15px;
}