.btn-primary {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    padding: 8px 6px;
    margin-top: 16px;
    border: 1px solid transparent;
    min-width: 92px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    padding: 8px 6px;
    margin-top: 16px;
    margin-right: 16px;
    border: 1px solid transparent;
    min-width: 92px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}

.right {
    float: right;
    width: 150px;
    padding: 10px;
}

.custom-select {
    margin-bottom: 10px;
    width: 250px;
}

.clearfix {
    overflow: auto;
}

.badge {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 6px;
    margin-top: 16px;
    margin-left: 16px;
    border: 1px solid transparent;
    min-width: 16px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.badge-pill {
    padding-right: .6em!important;
    padding-left: .6em!important;
    border-radius: 10rem!important;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

.input-group-text {
    background-color: #cce0f3;
    color: #000000;
}

.sticky {
    position: fixed;
    z-index:1;
    display:inline-block;
}