.download-icon {
	color: white;
	position: relative;
	text-align: right;
	padding-right: 5px;
	padding-top: 10px;
}

.page-header {
    padding-bottom: 0;
    margin: 0px;
    top: 0;
    display: block;
    height: 60px;
    width: 100%;
    position: fixed;
    background: #000640;
    color: #FFFFFF;
    border-bottom: 4px solid #3ab0e0;
}

.logo-top-bar {
    display: inline-block;
    height: 80%;
    width: 192px;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.txt-topbar {
    color: #FFFFFF;
    font-size: 16px;
    padding: inherit;
    margin-left: 15px;
}

.topbar-icon-option {
    margin-top: 5px;
    align-self: center;
    float: right;
}

.user-profile-heading {
    width: 100%;
    height: 70px;
    background-color: #5d78ff;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.profile-text span {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.81);
    margin-bottom: 0;
    display: block;
}

.profile-thumbnail {
    -webkit-box-flex: 0;
    margin-right: 10px;
}

.wd-35 {
    width: 35px;
}

.ht-35 {
    height: 35px;
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.analytic-nav-a {
    color: #c1c1c1;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.analytic-nav-a:hover {
    color: #fff;
}

.analytic-nav-a-toggle {
    color:  #c1c1c1;
    margin: 0;
}

.analytic-nav-a-toggle:hover {
    color: #3ab0e0;
}

.analytic-nav-a-selected {
    background: #3ab0e0;
    color: #fff;
    width: 95%;
}

.analytic-nav-a-selected:hover {
    color: #fff;
}

.downloadingGif {
    text-align: center;
}

.header-right .list-inline-item:not(:last-child) {
	margin-right: 1rem;
}

.header-right .dropdown-menu {
	top: 40px;
	right: -16px;
	left: auto;
	width: 305px;
	padding-bottom: 0px;
	padding: 0px;
	font-size: 13px;
	border-radius: 2px;
    border: none;
    position: fixed;
    z-index:2;
}

.header-right .dropdown-menu:before {
	content: "";
	position: absolute;
	top: -20px;
	right: 12px;
	border: 10px solid #e6e8ec;
	border-color: transparent transparent #e6e8ec transparent;
}


.header-right .languages-dropdown {
	top: 39px;
}

.header-right .languages-dropdown {
	width: 100%;
	padding: 10px;
}

.header-right .languages-dropdown li:hover {
	background: #f2f4f7;
}

.header-right .languages-dropdown li a {
	font-family: 'IBM Plex Sans', sans-serif;
	padding: 5px 10px;
	display: block;
	font-weight: 400;
}

.header-right .languages-dropdown li img {
	margin-right: 10px
}


/**********************************************************************
***********************************************************************
### Responsive CSS
*********************************************************************
*********************************************************************/

@media (min-width: 768px) {
	.page-header-fixed .page-container.container .page-header {
		width: 750px
	}
}

@media (min-width: 992px) {
	.page-header-fixed .page-container.container .page-header {
		width: 970px
	}
}

@media (min-width: 1200px) {
	.page-header-fixed .page-container.container .page-header {
		width: 1170px
	}
}

@media (min-width: 768px) {
	.navbar-nav {
		float: left;
		margin-left: 0;
		margin-right: 0;
		padding: 0
	}
	.page-header .navbar-nav>li>a>i {
		font-size: 14px;
		vertical-align: text-top
	}
	.page-header .navbar-nav>li>a>i[class^="icon-"] {
		font-size: 19px;
		vertical-align: top
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none!important;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.hidden-sm {
		display: none!important;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.hidden-md {
		display: none!important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none!important;
	}
}

@media (max-width:991px) {
	.page-sidebar-collapsed {
		display: block
	}
	.page-header-fixed .page-header {
		left: 0!important;
	}
	.page-sidebar {
		position: fixed!important;
		left: -264px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out
	}
	.page-inner:not(.login-page) {
		padding: 0px 20px;
	}
	.page-content,
	.page-sidebar-collapsed .page-content {
		width: 100%
	}
	.page-sidebar-fixed .page-content,
	.page-sidebar-fixed.page-sidebar-collapsed .page-content {
		margin-left: 0
	}
	.page-header nav.navbar {
		padding: 12px;
		padding-bottom: 0;
	}
	.page-header,
	.page-header .navbar-default .container-fluid,
	.page-header .navbar-default .navbar-collapse {
		padding: 0;
	}
	.navbar li {
		display: inline-block;
		margin: 0px;
	}
	#fixed-sidebar-toggle-button,
	.navbar-nav.navbar-right {
		display: none
	}
	.navbar-collapse {
		padding: 0 25px!important
	}
	.navbar-nav {
		float: right
	}
	.page-sidebar-visible .page-sidebar {
		left: 0
	}
	.sidebar-toggle-button-close {
		margin-left: auto;
		float: right;
		height: 35px;
		font-size: 25px;
		margin-top: 0px;
		display: block;
	}
	.page-sidebar-collapsed .sidebar-toggle-button-close {
		margin: 0 auto;
		float: none
	}
}

@media (width: 320px) {
	.fc-toolbar .fc-left,
	.fc-toolbar .fc-right {
		display: inline-block;
		float: none;
	}
}

@media (min-width: 576px) {
	.form-layout-5 .form-control-label {
		justify-content: flex-end;
	}
}

@media (min-width: 768px) {
	.wizard>.steps>ul li .title,
	.wizard>.steps .current a,
	.wizard>.steps .disabled a,
	.wizard>.steps .done a {
		display: block;
		text-align: center;
		margin-top: 5px;
	}
}

@media screen and (max-width: 990px) {
	.pricingTable21 {
		margin-bottom: 20px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1280px;
	}
}

@media (max-width:991.98px) {
	.btn-scroll-top {
		bottom: .625rem;
		right: .625rem;
		z-index: 9999
	}
	.btn-scroll-top:focus,
	.btn-scroll-top:hover {
		background: #007aff;
		color: #fff;
		text-decoration: none
	}
}

@media (max-width:991.98px) {
	.email-right-sidebar .table td,
	.email-right-sidebar .table th,
	.email-right-sidebar .table thead th {
		white-space: nowrap;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar-expand-lg .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

/**********************************************************************
***********************************************************************
### Sidebar CSS
*********************************************************************
*********************************************************************/

.page-sidebar {
	font-weight: 400;
	width: 250px;
	background: #ffffff;
	min-height: 100%;
	float: left;
	z-index: 100;
	position: relative;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
}

.page-sidebar-fixed .page-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 100;
	height: 100%!important;
}

body:not(.page-sidebar-fixed) .page-sidebar .slimScrollDiv {
	height: auto!important
}

.page-sidebar-fixed .page-sidebar,
.page-header-fixed .page-sidebar,
.page-sidebar-fixed.page-header-fixed .page-sidebar {
	padding-top: 80px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.page-header-fixed .page-sidebar {
	width: 250px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.page-sidebar .logo {
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	width: 250px;
	background-color: #ffffff;
	text-align: center;
	height: 60px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: .3s ease;
	transition: .3s ease;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

.page-sidebar-collapsed .page-sidebar .logo {
	width: 60px;
}

.logo a.logo-img img {
	max-height: 32px;
	width: auto;
}

.page-sidebar-collapsed .logo a.logo-img img.desktop-logo {
	display: none;
}

.logo a.logo-img img.small-logo {
	display: none;
	max-height: 28px;
}

.page-sidebar-collapsed .logo a.logo-img img.small-logo {
	display: block;
}

.page-header-fixed .logo {
	position: fixed;
	top: 0;
}

.page-sidebar-menu {
	margin: 10px 0;
}

.page-sidebar-fixed .page-sidebar .accordion-menu {
	margin: 10px 0 60px 0;
}

.page-sidebar-menu ul {
	padding: 0;
	margin: 0
}

.page-sidebar-menu ul li {
	list-style-type: none;
	position: relative;
	border-left: 3px solid transparent;
}

.page-sidebar-menu ul li.menu-elements,
.page-sidebar-menu ul li.menu-extras,
.page-sidebar-menu ul li.menu-others {
	color: #a5afc2;
	text-transform: uppercase;
	font-size: 12px;
}

.page-sidebar-menu ul li.menu-elements:hover,
.page-sidebar-menu ul li.menu-extras:hover,
.page-sidebar-menu ul li.menu-others:hover {
	border-left: 3px solid transparent!important;
}

.page-sidebar-menu ul li a {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 13px;
	display: block;
	padding: 10px 15px;
	color: #1b2e4b;
	line-height: 1.5!important;
	-webkit-font-smoothing: antialiased;
	position: relative;
    text-transform: capitalize;
}

.page-sidebar-menu ul li.active>a i,
.page-sidebar-menu ul li.active>a i.accordion-icon,
.page-sidebar-menu ul li.open>a i.accordion-icon,
.page-sidebar-menu ul li a:hover i.accordion-icon {
	color: #00C8FF!important;
}

.page-sidebar-menu ul li.active>a {
	color: #00C8FF;
	position: relative;
	background: #ffffff;
}

.page-sidebar-menu ul li:hover,
.page-sidebar-menu ul>li.active,
.page-sidebar-menu ul>li.open {
	border-left: 3px solid #00C8FF;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.page-sidebar-menu ul>li>ul>li:hover,
.page-sidebar-menu ul>li>ul>li,
.page-sidebar-menu ul>li>ul>li.active {
	border-left: none;
}

.page-sidebar-menu ul li a:link {
	text-decoration: none
}

.page-sidebar-menu>ul>li>a span.badge-warning,
.page-sidebar-menu>ul>li.open span.badge-warning {
	color: #000;
}

.page-sidebar-collapsed .page-sidebar-menu>ul>li>a:hover {
	opacity: 1;
}

.page-sidebar-collapsed .page-sidebar-menu>ul>li.active>a {
	background: #F7F7FE;
}

.page-sidebar-menu>ul>li>a:hover i.accordion-icon {
	text-decoration: none
}

.page-sidebar-menu ul li a i.menu-icon {
	margin-right: 10px;
	font-size: 17px;
	vertical-align: middle;
	line-height: 22px
}

.page-sidebar-menu ul li a span {
	margin-top: 2px;
}

.page-sidebar-menu ul li a:hover,
.page-sidebar-menu ul li a:hover svg,
.page-sidebar-menu ul>li.active a svg,
.page-sidebar-menu ul>li.open a svg {
	color: #00C8FF;
}

.page-sidebar-menu ul li.menu-divider {
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgba(230, 230, 230, 0.5);
	margin: 0
}

.page-sidebar-menu ul li a svg {
	height: 18px;
	margin-right: 7px;
}

.page-sidebar-menu ul li a i.accordion-icon {
	float: right;
	font-size: 15px;
	vertical-align: text-top;
	color: #596B8C;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.page-sidebar-menu ul li.open a i.accordion-icon {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3)*/
}

.page-sidebar-menu ul li .sub-menu a:hover {
	color: #00C8FF;
}

.accordion-menu .sub-menu {
	display: none;
	padding-left: 30px;
	padding-bottom: 10px;
	background: #ffffff
}

.page-sidebar-collapsed .page-content {
	width: calc(100% - 60px)
}

.page-sidebar-fixed .page-content {
	margin-left: 250px
}

.page-sidebar-fixed.page-sidebar-collapsed .page-content {
	margin-left: 60px
}

.page-sidebar-collapsed .accordion-menu .sub-menu {
	padding-bottom: 0;
	padding-left: 0
}

.accordion-menu .sub-menu li.animation a {
	opacity: 1
}

.accordion-menu .sub-menu li a {
	border-top: 0;
	padding: 8px 20px;
	font-size: 13px;
}

.accordion-menu .sub-menu li a:hover:before,
.page-sidebar-menu ul li ul li.active>a:before {
	content: "";
	border-radius: 50%;
	position: absolute;
	top: 15px;
	left: -5px;
	width: 5px;
	height: 5px;
	background: #00C8FF;
}

.page-sidebar-collapsed .page-sidebar-menu ul li ul.sub-menu li a:hover:before,
.page-sidebar-collapsed .page-sidebar-menu ul li ul.sub-menu li.active>a:before {
	content: none;
}

.accordion-menu .sub-menu li a.active {
	color: #000
}

.accordion-menu .sub-menu li a.active:hover {
	color: #000!important
}

.page-sidebar-collapsed .page-sidebar {
	width: 60px
}

.page-sidebar-collapsed.page-sidebar-fixed .page-sidebar {
	height: 100%
}

.page-sidebar-collapsed:not(.page-sidebar-fixed) .page-sidebar .slimScrollDiv {
	overflow: visible!important;
	height: calc(100% - 83px)!important
}

.page-sidebar-collapsed .page-sidebar-menu>ul>li {
	width: 60px;
	position: relative
}

.page-sidebar-collapsed .page-sidebar-menu>ul>li>a {
	width: 57px;
	position: relative;
	border: 1px solid transparent;
}

.page-sidebar-collapsed .page-sidebar-menu ul li .sub-menu,
.page-sidebar-collapsed .page-sidebar-menu ul li.active .sub-menu,
.page-sidebar-collapsed .page-sidebar-menu ul li.open .sub-menu {
	display: none!important;
	width: 190px
}

.page-sidebar-collapsed .page-sidebar-menu ul li a span:not(.label) {
	margin-left: 30px
}

.page-sidebar-collapsed .page-sidebar-menu ul li a span,
.page-sidebar-collapsed .page-sidebar-menu ul li a i.accordion-icon {
	display: none;
}

.page-sidebar-collapsed .page-sidebar-menu ul li .sub-menu {
	position: absolute;
	left: 56px;
	z-index: 9999;
	background: #ffffff;
	border-left: 1px solid rgba(230, 230, 230, 0.7);
	border-right: 1px solid rgba(230, 230, 230, 0.7);
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

.page-sidebar-collapsed .page-sidebar-menu ul li .sub-menu a {
	opacity: 1;
	padding: 8px 25px;
}

.page-sidebar-collapsed .page-sidebar-menu ul li a:hover+.sub-menu,
.page-sidebar-collapsed .page-sidebar-menu ul li .sub-menu:hover,
.page-sidebar-collapsed .page-sidebar-menu ul li:hover a span,
.page-sidebar-collapsed .page-sidebar-menu ul li a:hover span {
	display: inline!important;
}

.page-sidebar-collapsed .page-sidebar-menu>ul>li:hover>a {
	width: 246px;
	color: #596B8C;
	background: #F7F7FE;
	border: 1px solid rgba(230, 230, 230, 0.7);
}

.page-sidebar .slimScrollBar {
	display: none!important;
}

.page-sidebar-collapsed .page-sidebar.fixed-sidebar-scroll .slimScrollDiv {
	width: 250px!important
}

.page-sidebar-collapsed .page-sidebar-menu ul li.menu-elements,
.page-sidebar-collapsed .page-sidebar-menu ul li.menu-extras,
.page-sidebar-collapsed .page-sidebar-menu ul li.menu-others,
.page-sidebar-collapsed .sidebar-footer {
	display: none
}

.sidebar-footer {
	background: #ffffff;
	border: 1px solid rgba(230, 230, 230, 0.7);
	clear: both;
	bottom: 0;
	display: block;
	margin: 0!important;
	position: fixed;
	width: 30px!important;
	z-index: 1000;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	border: 0px;
	outline: 0px;
}

.sidebar-footer .pull-left {
	padding: 1px 0 8px;
	text-align: center;
	width: 25%;
}

.sidebar-footer a.pull-left {
	color: #596b8c;
}

.sidebar-footer a.pull-left:hover {
	text-decoration: none;
	background: #F7F7FE;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

