.btn-primary-process {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    padding: 8px 6px;
    margin-top: 16px;
    margin-left: 16px;
    border: 1px solid transparent;
    min-width: 92px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}